.input_search{
    width: 90%;
    height: 3em;
}

.input_search::placeholder{
    color: rgba(0, 17, 43, 0.788);
    font-weight: 600;
    padding-left: 1em;
}


@media (max-width: 1440px){
    .input_search{
        height: 3.5em;
    }
  }

  @media (min-width: 1900px){
    .input_search{
        height: 4em;
    }
  }