*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('../src/assets/globo-1.jpg');
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

  .panel{
    width:75%;
    margin-top: 10%;
  }

.App-link {
  color: #61dafb;
}

@media (max-width: 1366px){
  .panel{
    margin-top: 10%;
  }
}

@media (max-width: 1440px){
  .panel{
    margin-top: 10%;
  }
}

@media (min-width: 1900px){
  .panel{
    margin-top: 12%;
  }
}

@media (max-width: 500px){
  .App{
    flex-direction: column-reverse;
  }
  .panel{
    width:100%;
    position:relative;
    top:15em
  }
}
